.col-1 {
    width: 25%;
}

.col-3 {
    width: 75%
}

/*  */

.button {
    background-color: #E0E0E6;
    font-size: 40px;
    text-align: center;
    color: #666666;
    border-left: 1px solid #666666;
    border-bottom: 1px solid #666666;
    user-select: none;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: block;
    font-family: sans-serif;
  }
  
  button:active {
    box-shadow: inset 0px 0px 80px 0px rgba(0,0,0,0.25);
  }
  
  .orange {
    background-color: #EE9B3E;
    color: #fff;
    border-left: 1px solid #666666;
    border-bottom: 1px solid #666666;
    text-align: center;
    display: block;
    font-size: 40px;
    font-family: sans-serif;
    cursor: pointer;
  }
  
  .container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
  
  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .col {
  width: calc((100% - 4px)/4);
  padding: 10px 0px;
  }
  
  .col-2 {
    width: calc(50% - 1px);
    padding: 10px 0px;
  }
  
  .display {
  width: 100%;
  background-color: black;
  color: white;
  justify-content: flex-end;
  font-size: 80px;
  padding: 10px;
  padding-right: 20px;
  font-family: sans-serif;
  }
  